<div>
  <div class="feed">
    <h3>
      {{sub}}
    </h3>
    <p>
      {{descr}}
      <br />
      {{username}}
      -{{format_date date}}
    </p>
  </div>
  <div>
    comments:
    {{#each comment as |comment|}}
      <div class="comment">
        {{comment.comment_body}}
        <br />
        {{comment.username}}
        - {{ format_date comment.date}}
      </div>
    {{/each}}
  </div>
  <div>

    {{#if loggedIn}}
      <form>
        <label for="comment"></label>
        <textarea id="comment" name="comment" rows="10" cols="80"></textarea>
        <br />
        <button id="newComment"> Comment </button>
      </form>
    {{/if}}
  </div>
</div>